<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지입니다.</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="page-wrapper form-wrapper" id="sign-Page">
      <h2>회원가입</h2>
      <form method="post" id="form">
        <input placeholder="아이디" type="text" name="userName">
        <input placeholder="비밀번호" type="password" name="userPwd">
        <input type="submit" value="Sign">
      </form>
    </div>
  </div>
</body>
</html>